.navbar-vertical{
  background-color: #394868 !important;
}
.drop-zone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: #646C7F;
  border-style: dashed;
  border-color: #394868;
  border-radius: 5px;
  line-height: 200px;
  cursor: pointer;
}
.drop-zone.is-dragover {
  color: #999;
  border-style: solid;
}
.drop-zone.has-images {
  justify-content: flex-start;
}
.drop-zone.has-images .msg {
  display: none;
}
.drop-zone input.has-image {
  opacity: 1;
  width: 0px;
  heigth: 0px;
}
.drop-zone input.receiver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.drop-zone .preview {
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
  margin: 0 5px;
  height: 120px;
  border-radius: 5px;
}
.drop-zone .preview:hover .details {
  display: flex;
}
.drop-zone .preview img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 5px;
}
.drop-zone .preview .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
.drop-zone .preview .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e40000;
  cursor: pointer;
}
.drop-zone .preview .remove .fa {
  font-size: 20px;
  color: white;
}